body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dt {
  margin: 0;
  padding: 0;
}
dd {
  display: inline-block;
}
fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}
legend {
  text-indent: -9999px;
  font-size: 0;
}
ul,
ol,
dl {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
button,
input {
  vertical-align: middle;
}
#header {
  border: 1px #DFDFDF solid;
  border-bottom: none;
  height: 140px;
}
#header-row1 {
  position: relative;
  width: 900px;
  height: 105px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
#row1-left {
  margin-top: 10px;
}
#row1-menu {
  position: absolute;
  top: 8px;
  right: 0;
  font-size: 11px;
}
.menu-text1 {
  float: right;
}
.menu-text1 li {
  display: inline;
  padding: 0 5px;
}
.menu-text1 li a {
  font-family: Malgun Gothic;
  font-size: 11px;
  color: #777;
}
.menu-text1 li a:hover {
  font-size: 11px;
  color: #f00;
}
#header-row2 {
  position: relative;
  height: 40px;
  border-top: 1px #DFDFDF solid;
  border-bottom: 1px #DFDFDF solid;
}
#row2-menu {
  position: relative;
  width: 900px;
  height: 40px;
  margin: 0 auto;
}
.menu-text2 li {
  display: inline;
  border-left: 1px #777 solid;
  float: left;
  text-align: center;
  padding: 0 41.4px;
  margin-top: 10px;
}
.menu-text2 li:last-child {
  border-right: 1px #777 solid;
}
.menu-text2 li a {
  font-size: 12px;
  color: #777;
  font-family: Malgun Gothic;
  font-weight: 900;
  top: 10px;
}
.menu-text2 li:hover {
  background-color: #7f8083;
  height: 40px;
  margin: 0 auto;
  text-emphasis-color: #fff;
}
.slide {
  border: 1px #f00 none;
  margin-top: 9px;
  height: 720px;
}
.slide img {
  max-width: 100%;
  height: auto;
  margin: 0 300px auto;
}
.promotion {
  margin: 0 auto;
  width: 1000px;
  overflow: hidden;
}
section {
  margin: 40px auto;
  width: 1000px;
  height: 2241px;
  position: relative;
}
.a1 {
  float: left;
}
.b1 {
  width: 485px;
  display: inline-block;
  margin-left: 30px;
}
.c1 {
  float: left;
}
.d1 {
  width: 485px;
  display: inline-block;
  margin-left: 30px;
}
.icon {
  margin: 40px 0 0 30px;
}
.icon li {
  display: inline-block;
}
.icon img {
  margin-left: -15px;
}
.grand img {
  position: absolute;
  top: 825px;
  left: 687px;
}
.e1 {
  float: left;
  margin-top: 40px;
}
.f1 {
  float: left;
  margin: 40px 0 0 30px;
}
.g1 {
  float: left;
  margin: 40px 0 0 31px;
}
.h1 {
  float: left;
  margin-top: 40px;
}
.i1 {
  float: left;
  margin: 40px 0 0 34px;
}
.j1 {
  float: left;
  margin-top: 40px;
}
.sns {
  margin: 40px auto;
  width: 1000px;
  height: 445px;
}
.sns1 {
  border: 1px #e9ebee solid;
  width: 311px;
  height: 445px;
  float: left;
  margin-left: 30px;
  overflow: hidden;
}
.sns-graybox {
  background-color: #878787;
  height: 28px;
  padding: 12px;
}
.sns-graybox p {
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  margin-top: 0;
  font-weight: bold;
  font-family: Malgun Gothic;
}
.instagram img {
  width: 95px;
  height: 95px;
  float: left;
  display: inline-block;
  margin: 6px 0 0 7px;
}
.facebook {
  position: relative;
  border: 1px #ffffff solid;
  overflow: hidden;
  height: 70px;
}
.facebook-Contents {
  overflow-y: scroll;
  height: 500px;
}
.facebook-contents a {
  margin: 5px 5px 5px 5px;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.blog {
  overflow-y: scroll;
  height: 380px;
}
.sns1 .textbold {
  width: 274px;
  margin: 10px auto;
  line-height: 17px;
}
.textbold a {
  font-size: 13px;
  font-family: "Malgun Gothic";
  font-weight: bold;
  line-height: 17px;
  color: #434343;
}
.blog li {
  margin-left: 10px;
  width: 274px;
  font-size: 12px;
  font-family: "Malgun Gothic";
  color: #777;
}
footer {
  margin-top: 80px;
  height: 450px;
}
#footer {
  background-color: #434343;
  width: 100%;
  height: 395px;
}
#footer-left {
  float: left;
  margin: 30px 0 0 450px;
  width: 300px;
}
#footer-left li > a {
  color: #aaa;
  font-family: Malgun Gothic;
  font-size: 13px;
  line-height: 20px;
}
#footer-left p {
  color: #eee;
  font-family: Malgun Gothic;
  font-size: 13px;
  line-height: 20px;
}
#footer-center {
  float: left;
  margin: 30px auto;
  width: 430px;
}
#footer-center li {
  color: #aaa;
  font-family: Malgun Gothic;
  font-size: 13px;
  line-height: 20px;
}
#footer-center .btn-foot {
  margin-top: 60px;
}
#footer-center img {
  display: inline-block;
  float: left;
}
#footer-right {
  float: left;
  margin-top: 30px;
  width: 240px;
}
#footer-right li {
  color: #eee;
  font-family: Malgun Gothic;
  line-height: 20px;
}
#footer-right span {
  color: #eee;
  font-family: Malgun Gothic;
  font-weight: bold;
  line-height: 20px;
  margin-top: 5px;
}
.footer-right1 {
  border-bottom: 1px #eee solid;
}
.footer-right1 li {
  font-size: 11px;
  line-height: 20px;
  margin-left: 114px;
}
#company-rink {
  margin: 15px auto;
  height: 50px;
  width: 1000px;
}
#company-rink img {
  float: left;
  display: flex;
  justify-content: center;
  margin-left: 73px;
  padding: 5px;
}
